/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-grid-tile-content{
    width: 100%;
}
mat-card{
    width: 100%;
    img.mat-mdc-card-image.mdc-card__media {
        width: 290px;
        margin: auto;
    }
}
